<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admi</title>
    <link rel="stylesheet"href="../static/css/Estilos.css">
</head>
<body>
    <header>
        <h1>Opciones ADMI</h1>
        <br /><br />
        <div>
            <img src="../static/images/asm.png">
        </div>


    </header>
    <main>

            <br /><br />
            <button type="submit">Registrar nuevo usuario</button>
            <br /><br />
            <button type="submit">Productos</button>


    </main>
</body>
</html>