<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de contraseña</title>
    <link rel="stylesheet"href="../static/css/Estilos.css">
    <script src="{{url_for('static',filename='js/validacion.js')}}"></script>
</head>
<body>
    <header>
        <h1>Recuperar Contraseña</h1>
        <br /><br />
        <br /><br />
    </header>

    <main>
        <article>
            <section>
                <form>

                    <br /><br />
                    <label for="email">Correo electrónico: </label>
                    <input type="email" id="email" name="user_email">
                    <br /><br />

                    <label for="username">Usuario:</label><!--Atributo for relaciona el label con el id del input-->
                    <input id="username" type="text" name="username">
                    <br /><br />

                    <button type="submit">Enviar</button>

                </form>

            </section>

        </article>
    </main>
    <footer>
    </footer>
</body>
</html>