<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href ="../static/css/Estilos.css">
</head>

<header>

    <h1>Central Perk Coffee</h1>
    <br /><br />
    <div>
        <img src="../static/images/compartir.png">
        <div style="float:right">
            <a href="/register">Iniciar Sesión</a></li>
        </div>
    </div>

</header>

<main>
    <article>
        <section>
            <form action="register">
            </form>

        </section>

    </article>
</main>
<footer>

</footer>

<body>

</body>
</html>
