<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet"href="../static/css/Estilos.css">
    <script src="{{url_for('static',filename='js/validacion.js')}}"></script>
</head>

    <header>

        <h1>Inicio de Sesión</h1>
        <div>
            <img src="../static/images/user.png">
        </div>

    </header>
    <main>
        <article>
            <section>
                <form name="formulario"  class="main" action="search" onsubmit=" return validarFormulario();">

                        <br /><br />
                        <label for="email">Correo electrónico: </label>
                        <input type="email" id="email" name="email" placeholder="Digite su correo">
                        <br /><br />

                        <label for="username">Usuario:</label><!--Atributo for relaciona el label con el id del input-->
                        <input type="text" id="username" name="username"placeholder="Digite su usuario">


                        <br /><br />
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="Digite su clave">

               <!-- <img src="../static/images/show_pwd.png" onmouseover="showPassword();" onmouseout="hidePassword();"> -->

                        <br /><br />
                        <label for="olvido"><a href="change">¿Olvidó su contraseña?</a></label>


                    <br /><br />
                <!--
                    </label for="Rol">Administrador</label>
                    <input id="usuario" type="radio" name="Role" value="Usuario administrador">
                    </label for="Rol">Usuario</label>
                    <input id="administrador" type="radio" name="Role" value="Usuario empleado">
                    <br /><br />-->
                    <input type="submit" value="Iniciar Sesión">

                </form>

            </section>

        </article>
    </main>
    <footer>
    </footer>

</body>
</html>